.menu-select {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 1em 1.5em;
  padding: 1.5em;
  border-radius: 1em;
  background-color: rgba(3, 59, 156, 0.458);
  color: white;
  font-size: 1.4rem;
  user-select: none;

  .smallprint {
    font-size: 1rem;
    color: #ccc;
    margin-top: 0.5em;
  }

  &.active {
    cursor: pointer;
    background-color: rgb(3, 53, 138);
    &:not(:has(.badge:hover)):hover {
      background-color: rgb(3, 53, 138);
    }
    &:active {
      transform: scale(0.95);
    }
  }

  &:has(.badge-remove-select:active) {
    transform: rotate(-2deg);
  }

  .badge {
    position: absolute;
    width: 4rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.8rem;
  }

  .badge-remove-select {
    background-color: rgb(129, 0, 0);
    top: -12%;
    left: -6%;
    &:hover {
      background-color: rgb(150, 0, 0);
    }
  }

  .badge-num-select {
    background-color: rgb(0, 5, 80);
    top: -12%;
    right: -6%;
    cursor: default;
  }
}
