.order-status {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  // margin: 3em;
  padding: 1.5em;
  border-radius: 1em;
  background-color: rgb(36, 156, 3);
  color: white;
  font-size: 1.3rem;
  max-width: 25rem;

  &.archived {
    background-color: rgba(36, 156, 3, 0.398);
  }

  h2 {
    display: flex;
    justify-content: space-between;
  }

  .order-items {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    .order-item {
      display: flex;
      flex-direction: column;
      p {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }
    }
  }

  .status-icon {
    // prevent wrap of text
    text-wrap: nowrap;
  }
}
