.public {
  font-family: var(--font-panchang), sans-serif;
  overflow: hidden;
  display: flex;
  gap: 8rem;
  padding: 4rem;

  width: 100%;
  height: 100vh;

  background-color: #000;
  color: #f8f7c8;
  font-size: 2rem;

  h1 {
    font-weight: 900;
    font-size: 5rem;
    text-transform: uppercase;
  }

  .menu-section {
    flex: 1 1 50%;
    .menu {
      display: flex;
      flex-direction: column;
      gap: 1em;

      h2 {
        font-weight: 600;
        text-transform: uppercase;
      }
      p {
        line-height: 1.1em;
      }
    }
  }

  .ready-section {
    flex: 1 1 50%;

    .ready-orders {
      display: flex;
      flex-direction: column;
      gap: 1em;

      .order {
        color: #cc250e;
        background-color: #f8f7c8;
        padding: 1em;
        border-radius: 1em;
        font-size: 2rem;
      }
    }
  }
}
