@use "colors" as *;

* {
  box-sizing: border-box;
  margin: 0;

  transition: all 0.2s ease;
}

body {
  padding: 0;
  margin: 0;

  color: var(--text-color);
  background: var(--bg-color);

  max-width: 100vw;
  overflow-x: hidden;
}

main {
  margin: 0em;
}

h1 {
  width: 100%;
  font-size: 3rem;
  font-weight: 600;
  text-align: left;
}

p {
  text-align: left;
}

a,
button {
  text-decoration: none;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid var(--button-color);
  color: var(--button-color);

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;

  &.danger {
    --button-color: #d60000;
    --button-text-color: #ffffff;
    background-color: #af0000;
    color: #ffffff;
    border: none;
  }

  &.validate {
    --button-color: rgb(39, 177, 1);
    --button-text-color: #ffffff;
    background-color: rgba(36, 156, 3);
    color: #ffffff;
    border: none;
  }

  &:hover {
    background-color: var(--button-color);
    color: var(--button-text-color);
  }
}

.button-span {
  display: flex;
  gap: 0.5em;
}

.big-num {
  font-size: 1.8rem;
}
